@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The Crypto Keepers are the ones with the best solutions in the world.</p>
<p>This site was made by Brian Murphy, with using a SQL Server  prepared by Ben Royce.</p>
