@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Crypto-Keepers- DFS Techsprint March 1-March 12, 2021</h1>
    <p class="lead">This is a solution to Questions #4 and parts of #3. This addresses the problems of information sharing accross multiple agencies.</p>
    <p><a href="https://www.dfs.ny.gov/techsprint" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>View Alerts</h2>
        <p><a class="btn btn-default" href="~/alerts/">Learn more</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Entities</h2>
        <p><a class="btn btn-default" href="~/entities/">Learn more</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Priotities</h2>
        <p><a class="btn btn-default" href="~/priorities/">Learn more</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Types</h2>
        <p><a class="btn btn-default" href="~/types/">Learn more</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Flags</h2>
        <p><a class="btn btn-default" href="~/flags/">Learn more</a></p>
    </div>

</div>